<div class="header">
  <div class="header__left">
    <img src="/img/header-logo.svg" />
  </div>
  <div class="header__right">
    {{! <div x-show="" class="button-wrapper" style="width:75px">
      <button
        class="button"
        :class="{'button-blurred-red': !$store.app.isSoundOn }"
        @click="() => $store.app.isSoundOn = !$store.app.isSoundOn"
      >
        <img
          x-show="$store.app.isSoundOn"
          height="15px"
          src="/icons/sound-on.svg"
          style="margin-top: 5px;"
        />
        <img
          x-show="!$store.app.isSoundOn"
          height=" 15px"
          src="/icons/sound-off.svg"
          style="margin-top: 7px;"
        />
      </button>
    </div> }}
  </div>
</div>