<div class="bckg-2" x-show="$store.app.currentPage==='player' || $store.app.currentPage==='intro'" x-transition>
</div>
<div class="top-navbar">
  <div class="left-part">
    <div class="button-wrapper display-horizontal" style="width:75px">
      <button class="button button-blurred" @click="() => {$store.app.handleRequestFullScreen()}">
        <img height="15px" src="/icons/rotate-screen.svg" style="margin-top: 5px;" />
      </button>
    </div>
    <p style="font-size: 15px;"
      x-text="`${$store.app.content.texts[$store.app.player.currentPicture].author} – ${$store.app.content.texts[$store.app.player.currentPicture].year}`">
    </p>
  </div>
  <div class="right-part">
    <div class="button-wrapper" style="width:65px">
      <button class="button button-blurred" :class="{'button-blurred-red': !$store.app.isSoundOn }"
        @click="$store.app.handlePlayerToggleMute()">
        <img x-show="$store.app.isSoundOn" height="15px" src="/icons/sound-on.svg" style="margin-top: 5px;" />
        <img x-show="!$store.app.isSoundOn" height=" 15px" src="/icons/sound-off.svg" style="margin-top: 7px;" />
      </button>
    </div>
    <div class="button-wrapper" style="width:120px">
      <button class="button button-blurred" @click="$store.app.togglePlay()">
        <img x-show="!$store.app.isPlaying" height="15px" src="/icons/play.svg"
          style="margin-top: 5px;; margin-right: -7px;" />
        <img x-show="$store.app.isPlaying" height=" 15px" src="/icons/pause.svg"
          style="margin-top: 7px; margin-right: -7px;" />
      </button>
      <button class="button button-blurred" @click="$store.app.handlePlayerClose()">
        <img height=" 15px" src="/icons/close.svg" style="margin-top: 7px; margin-left: -7px;" />
      </button>
    </div>
  </div>
</div>
