<div class="gallery-body-wrapper">

  <div class="gallery-body" id="hscroll">
    <div class="single" @click="() => {$store.app.player.currentPicture = '1' ;$store.app.handleGoToPlayer()}"
      style="margin: 30px; margin-right: 0px;transform: translateY(10px); gap: 0px; display: flex; flex-direction: column;">
      <img class="g-img" src="/content/1/thumb.webp" />
      <p class="g-title">1903</p>
      <p class="g-text">Репин Илья Ефимович</p>
      <p class="g-text">Торжественное заседание Государственного совета 7 мая 1901 года, в день столетнего юбилея со дня
        его учреждения</p>
    </div>
    <div class="single" @click="() => {$store.app.player.currentPicture = '2' ;$store.app.handleGoToPlayer()}"
      style="margin: 30px;  margin-right: 0px; transform: translateY(70px); gap: 0px; display: flex; flex-direction: column;">
      <img class="g-img" src="/content/2/thumb.webp" />
      <p class="g-title">1906</p>
      <p class="g-text">Суриков В.И.</p>
    </div>
    <div class="single" @click="() => {$store.app.player.currentPicture = '3' ;$store.app.handleGoToPlayer()}"
      style="margin: 30px; margin-right: 0px;transform: translateY(-10px); gap: 0px; display: flex; flex-direction: column;">
      <img class="g-img" src="/content/3/thumb.webp" />
      <p class="g-title">1906</p>
      <p class="g-text">Васнецов А.М.</p>
      <p class="g-text">Старая Москва. Улица в Китай-городе начала ХVII века</p>
    </div>
  </div>
</div>
{{> gallery-top-navbar }}

<div class="bottom-buttons">
  <div class="button-wrapper bottom-button-wrapper">
    <button class="button border-bottom bottom-button"
      @click="()=>{$store.app.intro.innerPage = 1;$store.app.currentPage='intro'}">
      О проекте
    </button>
  </div>
</div>
<style>
  .gallery-body-wrapper {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .gallery-body {
    position: relative;
    padding-top: 150px;
    box-sizing: border-box;
    width: 300dvw;
    height: 100dvh;
    display: flex;
  }

  .single {
    max-width: 50dvh;
  }

  .g-img {
    width: 100%;
  }

  .g-title {
    margin: 0px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
  }

  .g-text {
    margin: 0px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 10px;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 30%;
  }

</style>
