<div x-show="$store.app.currentPage === 'player'">
  <div x-init="$store.app.setVideoRef($refs.video)" class="video-player-container" id="video-container">
    <div id="video-to-play">

      <div x-show="$store.app.player.playerMode === 'picture'">
        <template x-for="point in $store.app.content.points[$store.app.player.currentPicture]" :key="point['id']">

          <div class="point" @click="$store.app.handlePointClick(point['id'])"
            :style="`left: ${point.x}%;top:${point.y}%;`">
            <div x-show="$store.app.player.playerMode==='picture'" x-transition id="1"
              x-bind:style="$store.app.getPointStyle(point['id'])">
              <img class="point-img" x-bind:src="$store.app.getPointIcon(point['id'])" />
            </div>
          </div>

        </template>
      </div>


      <img class="image" x-show="$store.app.player.playerMode === 'picture'"
        x-bind:src="`/content/${$store.app.player.currentPicture}/pic.webp`" />


      <template x-if="$store.app.currentPage === 'player' && $store.app.player.playerMode === 'video'">
        <video style="background-color: black" x-show="$store.app.player.playerMode === 'video'" playsinline
          class="video-play" id="video" x-init="$store.app.playVideo()" @loadedmetadata="$store.app.onLoadedMetadata()"
          @timeupdate="$store.app.onTimeUpdate()" @ended="$store.app.onEnded()" @play="$store.app.isPlaying = true"
          @pause="$store.app.isPlaying = false" @waiting="$store.app.isLoading = true"
          @canplay="$store.app.isLoading = false" preload="metadata">
          <source x-bind:src="`/content/${$store.app.player.currentPicture}/video.mp4`" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </template>
      <template x-if="$store.app.player.playerMode === 'picture'">
        <audio x-ref="audio" @loadedmetadata="$store.app.onLoadedMetadata()" @timeupdate="$store.app.onTimeUpdate()"
          @ended="$store.app.onEnded()" @play="$store.app.isPlaying = true"
          @pause="$store.app.isPlaying = false" @waiting="$store.app.player.isLoading = true"
          @canplay="$store.app.isLoading = false" id="audio" preload="metadata">
          <source x-ref="audioSource"
            x-bind:src="`/content/${$store.app.player.currentPicture}/${$store.app.player.currentPoint}.mp3`"
            type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </template>
    </div>
  </div>


</div>
{{> top-navbar }}
<div x-show="!$store.app.player.isScaleHintShown">
  {{> done-hint }}
</div>
<div x-show="$store.app.player.playerMode === 'picture' && $store.app.player.isScaleHintShown && !$store.app.isPlaying" x-transition class="hint"
  style="display: flex; flex-direction: column; align-content: center; text-align: center; bottom:10px">
  <div class="button-wrapper bottom-button-wrapper" style="margin:auto">
    <button class="button border-bottom bottom-button" id="hintOff"
      @click="() => {$store.app.player.isScaleHintShown = false}">
      <img src="/icons/scale-screen.svg" style="margin-top: 5px;" />
    </button>
  </div>
  <p>
    Приблизьте изображение, чтобы рассмотреть скрытые детали и нюансы этого полотна.
  </p>
</div>
<div x-show="$store.app.isPlaying && !$store.app.isLoading" x-transition class="subtitles">
  <div x-html="$store.app.getSubtitles($store.app.getCurrentSubs(), $store.app.currentTime)">
  </div>
</div>
<div x-show="!$store.app.isPlaying" x-transition class="bottom-buttons">
  <div
    x-show="!$store.app.player.isScaleHintShown && $store.app.player.playerMode==='picture' && !$store.app.isCurrentPictureDone()"
    class="button-wrapper bottom-button-wrapper" style="margin:auto">
    <button class="button border-bottom" @click="$store.app.handlePlayerSwitchMode('video')">
      <span>Видео</span>
    </button>
  </div>

  <div x-show="$store.app.player.playerMode === 'video'" class="button-wrapper bottom-button-wrapper"
    style="margin:auto">
    <button class="button border-bottom" @click="$store.app.handlePlayerSwitchMode('picture')">
      <span>Аудио</span>
    </button>
  </div>

</div>

<style>
  .video-player-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    touch-action: none;
    transform-origin: center center;
    transition: none;
    align-content: center;
  }

  #video-to-play {
    width: 100%;
    touch-action: none;
    transform-origin: center center;
    transition: none;
    margin: 0;
  }

  .video-play {
    margin: 0;
    width: 100%;
  }

  .image {
    width: 100%;
    transition: 0;
  }

  .point {
    position: absolute;
    width: 100px;
    margin-left: -50px;
    height: 100px;
    margin-top: -50px;
    object-fit: cover;
    border-radius: 50px;
    transition: 0;
    transform-origin: center;
    -webkit-tap-highlight-color: #5d32;
  }

  .point-img {
    transform: scale(0.5);
    transform-origin: center;
  }

</style>
<script type="module" src="/src/modules/zoom.js"></script>
