<div>
  <div class="splash">
    <div class="splash__img">
      <img class="" src="/img/splash.png" alt="" />
      {{! <video
        id="splash-video"
        playsinline
        autoplay
        loop
        preload="metadata"
        muted
        :src="$store.app.isIOS() ? '/img/splash.mov': '/img/splash.webm' "
      >
        <template x-if="$store.app.isIOS()">
          <source src="/img/splash.mov" type='video/mp4;codecs="hvc1"' />
        </template>
        <template x-if="!$store.app.isIOS()">
          <source src="/img/splash.webm" type="video/webm" />
        </template>
      </video> }}
    </div>
    <div class="splash__text">
      Ещё минуту, и вы приблизитесь к тому, что искусство давно шепчет, но не
      говорит вслух
    </div>
    <div class="intro-logos">
      <img src="/img/bottom-logos.svg" />
    </div>

    <div class="intro-video-preload">
      <video
        playsinline
        muted
        autoplay
        preload="metadata"
        id="intro-video-preload"
      >
        <source
          x-show="$store.app.isIOS()"
          src="/intro-guide-ios.mov"
          type='video/mp4;codecs="hvc1"'
        />
        <source
          x-show="!$store.app.isIOS()"
          src="/intro-guide.webm"
          type="video/webm"
        />
      </video>
    </div>
  </div>
</div>

<style>
  @keyframes moveInCircle {
    0% {
      transform: translate(-50%, -70%);
    }
    25% {
      transform: translate(-50%, -60%);
    }
    50% {
      transform: translate(-50%, -50%);
    }
    75% {
      transform: translate(-50%, -60%);
    }
    100% {
      transform: translate(-50%, -70%);
    }
  }
</style>